<div class="bg-black rounded shadow-md w-64 h-[700px] p-2 text-white flex flex-col overflow-hidden">

    {% let title = show.title|unwrap_title_romaji %}
    <!-- Image -->
    <img class="rounded-t w-full h-[300px] object-cover" src="{{ show.cover_image|unwrap_cover }}" alt="{{ title }}">

    <!-- Content below image -->
    <div class="text-left pl-1">
        <!-- Title -->
        <h2 class="pt-2 font-semibold mb-2 text-xl">{{ title }}</h2>

        <!-- Date and Episode Info -->
        <div class="flex justify-between items-center">
            <p class="text-sm">{{ show.start_date|unwrap_or_na }}</p>
            <p class="text-xs px-2 py-1 rounded">{{ show.episodes|unwrap_or_na }} eps, {{ show.duration|unwrap_or_na }}
                min</p>
        </div>

        <!-- Genre Tags -->
        <div class="mt-2 flex flex-wrap">
            {% for genre in show.genres.as_ref().unwrap() %}
            <span class="bg-gray-500 text-xs px-2 py-1 rounded mr-1 mb-1">{{ genre }}</span>
            {% endfor %}
        </div>

        <!-- Studio and Rating -->
        <div class="flex justify-between items-center mt-2">
            <p class="text-xs w-1/2 flex-grow overflow-x-auto">Studio: {{ show.studios|unwrap_studio }}</p>
            <p class="text-xs">⭐ {{ show|unwrap_score }} &#x1F464; {{ show|unwrap_members }}</p>
        </div>

    </div>

    <!-- Description -->
    <p class="text-xs mt-2 pl-1 flex-grow overflow-y-auto">{{ show.description|unwrap_or_na|safe }}</p>

    {% let id = show.id.as_ref().unwrap() %}

    <!-- tailwind style needs to be in html to be compiled even though we're swapping out with htmx response -->
    <!-- <div class="rounded-md bg-black px-3.5 py-2.5 text-xs font-semibold text-white shadow-sm transition-colors hover:bg-white hover:text-black hover:ring-2 hover:ring-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"> -->
    <div class="bg-gray-900"></div>
    <div class="bg-yellow-400"></div>


    <!-- Watching Indicator -->
    <div class="text-right pl-1" hx-get="/api/get_tracker" hx-vals='{"title": "{{ title }}"}' hx-swap="outerHTML" hx-trigger="load">
        <!-- This initial button would be replaced by the correct state from the server upon page load -->
        <button class="rounded-md bg-white px-3.5 py-2.5 text-xs font-semibold text-black shadow-sm transition-colors hover:bg-black hover:text-white hover:ring-2 hover:ring-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
            hx-post="/api/set_tracker" hx-vals='{"title": "{{ title }}"}' hx-swap="outerHTML">
            <span id="status-text-{{ id }}">Loading...</span>
        </button>
    </div>


</div>
