<div class="bg-black rounded shadow-md w-64 h-[700px] p-2 text-white flex flex-col overflow-hidden">

    {% let title = show.title|unwrap_title_romaji %}
    <!-- Image -->
    <img class="rounded-t w-full h-[300px] object-cover" src="{{ show.cover_image|unwrap_cover }}" alt="{{ title }}">

    <!-- Content below image -->
    <div class="text-left pl-1 flex-grow">
        <!-- Title -->
        <h2 class="pt-2 font-semibold mb-2 text-xl">{{ title }}</h2>

        <!-- Date and Episode Info -->
        <div class="flex justify-between items-center">
            <p class="text-sm">{{ show.start_date|unwrap_or_na }}</p>
            <p class="text-xs px-2 py-1 rounded">{{ show.episodes|unwrap_or_na }} eps, {{ show.duration|unwrap_or_na }}
                min</p>
        </div>

        <!-- Genre Tags -->
        <!-- <div class="mt-2 flex flex-wrap"> -->
        {% for genre in show.genres.as_ref().unwrap() %}
        <span class="bg-gray-500 text-xs px-2 py-1 rounded mr-1 flex-shrink-0">{{ genre }}</span>
        {% endfor %}
        <!-- </div> -->

        <!-- Studio and Rating -->
        <div class="flex justify-between items-center mt-2">
            <p class="text-xs">Studio: MAPPA</p>
            <p class="text-xs">⭐ {{ show|unwrap_score }} &#x1F464; {{ show|unwrap_members }}</p>
        </div>


    </div>

    <!-- Description -->
    <p class="text-xs mt-2 pl-1 flex-grow overflow-y-auto">{{ show.description|unwrap_or_na|safe }}</p>

    <!-- Watching Indicator -->
    <div class="text-right mt-2 pl-1">
        <p class="text-xs bg-green-500 px-2 py-1 rounded">Tracking</p>
    </div>

</div>
