<div id="configure-modal"
    class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center">

    <div class="relative bg-black p-5 rounded-lg shadow-md border border-yellow-500">
        <button hx-get="api/close" hx-swap="outerHTML swap:out" hx-target="#configure-modal"
            class="absolute top-2 right-2 text-4xl bg-black text-yellow-500 hover:text-yellow-300 focus:outline-none">
            ×
        </button>

        <h2 class="w-80 text-lg text-center text-yellow-500 mb-14">
            {{ title }}
            <br>
            id: {{ id }}
        </h2>

        <form hx-post="api/save_configuration" hx-swap="configure-modal">
            <input type="hidden" name="title" value="{{ title }}">
            <input type="hidden" name="id" value="{{ id }}">

            <div class="relative z-0 w-full mb-12 group">
                <input type="text" name="alternate title" id="alternate" value="{{ alternate }}"
                    class="block py-2.5 px-3 w-full text-sm text-white bg-transparent border-b border-yellow-500 appearance-none dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-yellow-500 peer"
                    placeholder=" " required />
                <label for="alternate"
                    class="peer-focus:font-medium absolute text-sm text-yellow-300 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-yellow-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">alternate
                    title</label>
            </div>

            <div class="relative w-full mb-12 group">
                <label for="season" class="block mb-2 text-sm font-medium text-yellow-500">Select the season</label>
                <select name="season" id="season" value="{{ season }}"
                    class="bg-black border border-yellow-500 text-yellow-300 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block w-full p-2.5">
                    {% for i in 1..10 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="relative w-full mb-12 group">
                <label for="source" class="block mb-2 text-sm font-medium text-yellow-500">Select your
                    source</label>
                <select name="source" id="source" value="{{ source }}"
                    class="bg-black border border-yellow-500 text-yellow-300 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block w-full p-2.5">
                    <option value="subsplease">subsplease</option>
                    <option value="Erai-raws">Erai-raws</option>
                </select>
            </div>

            <button type="submit"
                class="w-full bg-yellow-500 px-3 py-1 text-black rounded-md shadow-sm transition-colors hover:border-yellow-500 hover:bg-black hover:text-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-500">
                Submit
            </button>
        </form>
    </div>
</div>
