<div class="pb-5">
    <nav class="bg-black text-center border border-yellow-400 py-5 px-2 font-semibold  ">

        {% let button_style = "rounded-md bg-black px-3.5 py-1.5 text-white shadow-sm transition-colors hover:bg-white
        hover:text-black hover:ring-2 hover:ring-black focus-visible:outline focus-visible:outline-2
        focus-visible:outline-offset-2 focus-visible:outline-black" %}

        <ul class="inline-flex list-none p-0 m-0">
            <li class="mx-4">
                <a href="#spring2023" class="{{ button_style }}">
                    Spring 2023
                </a>
            </li>
            <li class="mx-4">
                <a href="#summer2023" class="{{ button_style }}">
                    Summer 2023
                </a>
            </li>
            <li class="mx-4">
                <a href="#fall2023" class="{{ button_style }}">
                    Fall 2023
                </a>
            </li>
            <li class="mx-4">
                <a href="#winter2024" class="{{ button_style }}">
                    Winter 2024
                </a>
            </li>
            <li class="mx-4">
                <a href="#current"
                    class="rounded-md bg-white px-3.5 py-1.5 text-black shadow-sm transition-colors hover:bg-black hover:text-white hover:ring-2 hover:ring-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
                    Current Season
                </a>
            </li>
        </ul>
    </nav>

</div>
