<div class="bg-black">
    <div class="py-24"> <!--class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8"-->
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
                Kod Anime
            </h1>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-200 pb-7">
                Anime Tiddies.
            </p>
        </div>

        <style>
            .custom-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .custom-grid>* {
                flex-basis: calc(100% - 0px);
                /* for 1 item per row */
            }

            @media (min-width: 640px) {

                /* sm breakpoint */
                .custom-grid>* {
                    flex-basis: calc(50% - 0.5rem);
                    /* subtracting half the desired space between items */
                }
            }

            @media (min-width: 768px) {

                /* md breakpoint */
                .custom-grid>* {
                    flex-basis: calc(33.3333% - 0.6667rem);
                    /* subtracting two-thirds the desired space between items */
                }
            }

            @media (min-width: 1024px) {

                /* lg breakpoint */
                .custom-grid>* {
                    flex-basis: calc(20% - 1rem);
                    /* subtracting four-fifths the desired space between items */
                }
            }
        </style>

        <div class="container mx-auto">
            <div id="nav-bar">
                {{ navbar|safe }}
            </div>
            <div id="show-grid">
                {{ grid|safe }}
            </div>
        </div>

    </div>
</div>
