<script>

    function handleRemoveClick(button) {
        let targetId = button.getAttribute("hx-target");
        if (!document.querySelector(targetId)) {
            button.removeAttribute('hx-target');
        }
    }

</script>
<div class="relative pb-8">
    <table style="table-layout: fixed; width: 100%;" class="text-sm text-left text-gray-400 bg-black rounded-lg shadow-md mt-5">
        <thead class="text-xs text-white uppercase">
            <tr>
                <th style="width: 30%;" class="px-3 py-3 border-b border-yellow-500">Show</th>
                <th style="width: 15%;" class="px-3 py-3 border-b border-yellow-500">Episode</th>
                <th style="width: 25%;" class="px-3 py-3 border-b border-yellow-500">Next Air</th>
                <th style="width: 15%;" class="px-3 py-3 border-b border-yellow-500">Config</th>
                <th style="width: 15%;" class="px-3 py-3 border-b border-yellow-500">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for show in shows %}
            <tr class="hover:bg-gray-900">
                <td scope="row" class="px-3 py-4 font-medium text-white border-b border-gray-800"
                    ><div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><a role="button" hx-get="/api/get_source?id={{ show.id }}" hx-trigger="click" hx-target="#source-table"
                    hx-indicator="#source-spinner" title="{{ show.title }}">{{ show.title }}</a></div></td>
                <td class="px-3 py-4 text-white border-b border-gray-800 truncate">{{ show.latest_episode }}</td>
                <td class="px-3 py-4 text-white border-b border-gray-800 truncate">{{ show.next_air_date }}</td>
                <td class="px-3 py-4 border-b border-gray-800">
                    <button hx-get="api/get_configuration?id={{ show.id }}" hx-target="#configuration-modal"
                        class="bg-yellow-500 px-2 py-1 text-xs text-black rounded-md shadow-sm transition-colors hover:bg-black hover:text-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-500">
                        Config
                    </button>
                </td>
                <td class="px-3 py-4 border-b border-gray-800">
                    <button onclick="handleRemoveClick(this)"
                        hx-post="/api/set_tracker?id={{ show.id }}&latest_episode={{ show.latest_episode }}&next_air_date={{ show.next_air_date }}&is_tracked={{ show.is_tracked }}&title={{ show.title|escape_quotes }}"
                        hx-target="#tracker-{{ show.id }}" hx-swap="outerHTML"
                        class="bg-yellow-500 px-2 py-1 text-xs text-black rounded-md shadow-sm transition-colors hover:bg-black hover:text-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-500">
                        Remove
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
