@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom grid styles */
.custom-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-grid > * {
  flex-basis: calc(100% - 0px); /* for 1 item per row */
}

/* Using Tailwind's breakpoints for the custom grid */
@screen sm {
  .custom-grid > * {
    flex-basis: calc(50% - 0.5rem); /* subtracting half the desired space between items */
  }
}

@screen md {
  .custom-grid > * {
    flex-basis: calc(33.3333% - 0.6667rem); /* subtracting two-thirds the desired space between items */
  }
}

@screen lg {
  .custom-grid > * {
    flex-basis: calc(20% - 1rem); /* subtracting four-fifths the desired space between items */
  }
}
